html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* colour palette */

/* Squash
#F2A11C,
242, 161, 28

Darker grey
#1F2022,
31, 32, 34

Dark grey
#4A4A4A,
74, 74, 74

White
#FFFFFF,
255, 255, 255

Light grey
#F4F4F4,
244, 244, 244 */

/* global stylings */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Catamaran', 'Pacifico' sans-serif;
  color: #1f2022;
  line-height: 29px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

h1 {
  font-size: 12rem;
  font-family: 'Pacifico', sans-serif;
  color: #f2a11c;
}

h2 {
  font-size: 3.5rem;
  font-family: 'Pacifico', sans-serif;
}

h3 a {
  color: #f2a11c;
}

h4 {
  font-size: 2.2rem;
  color: #f2a11c;
  font-family: 'Pacifico', sans-serif;
}

p {
  font-size: 2rem;
  font-family: 'Catamaran', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

/* global read more button stylings */

.read-button {
  font-size: 1.8rem;
  font-family: 'Catamaran', sans-serif;
  color: #f2a11c;
  text-transform: uppercase;
  background-color: #1f2022;
  display: inline-block;
  padding: 15px 20px;
  margin: 0;
  opacity: 0.7;
  transition: 0.3s;
}

.read-button:hover,
.read-button:focus,
.read-button:active {
  opacity: 1;
}

/* nav li globals */

a {
  text-decoration: none;
  font-family: 'Catamaran';
  color: #fff;
}
li a:hover,
li a:focus {
  color: #f2a11c;
}

img {
  max-width: 100%;
  display: block;
}

/* end of global styles */

/* header and header styles*/

header {
  background-image: url(./biker-land-assets/image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  clear: both;
}

.header-navigation {
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-navigation li {
  display: inline;
}

.header-navigation a {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  padding: 15px;
}

header i.fa-bars {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  color: white;
  visibility: hidden;
  font-size: 4rem;
}

h1 {
  float: left;
  margin-top: 170px;
  width: 71%;
  text-align: right;
}

nav.socials-navigation {
  text-align: center;
  float: right;
  margin-top: 130px;
}

header nav.socials-navigation li {
  margin-top: 10px;
  width: 5%;
}

header nav.socials-navigation a {
  font-size: 2.5rem;
}

/* end of header styles */

/* about section styles */

.about-info {
  width: 50%;
  padding: 50px;
  float: right;
  background-color: white;
}

.about-image {
  width: 50%;
  height: 406px;
  background-image: url(./biker-land-assets/image-2.jpg);
  background-position: center;
  background-size: cover;
  float: right;
}

/* end of about section styles */

/* mission section styles */

.mission-info {
  width: 50%;
  padding: 50px;
  float: left;
  background-color: white;
}

.mission-image {
  width: 50%;
  height: 406px;
  background-image: url(./biker-land-assets/image-7.jpg);
  background-position: center;
  background-size: cover;
  float: left;
}

/* end of mission section styles */

/* blog section styles */

.blog {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.blog-info,
.blog-image {
  float: left;
}

.blog-info {
  width: calc(75% - 10px);
  margin-left: 10px;
  padding-left: 20px;
}

.blog-image {
  width: 25%;
}

/* end of blog section styles */

/* product section styles */

.product {
  background-image: url(./biker-land-assets/image-5.jpg);
  background-position: center;
  background-size: cover;
}

.product-navigation ul {
  padding: 150px 170px;
}

.product-navigation li {
  float: left;
  margin: 0 auto;
  text-align: center;
  width: calc(100% / 3);
}

.product-navigation a {
  font-size: 3.5rem;
  font-weight: 700;
}

.product-span {
  display: block;
  text-align: center;
  color: #f2a11c;
  font-size: 2.5rem;
}

/* end of product section styles */

/* the gram styles */

.the-gram {
  height: 600px;
}

.the-gram h2 {
  text-align: center;
  padding: 50px 0;
}

.the-gram ul {
  list-style: none;
}

.the-gram li {
  width: calc(100% / 3);
  float: left;
  position: relative;
  padding: 0 5px;
}

/* end of gram styles */

/* footer styles */

footer {
  background-color: #1f2022;
  height: 380px;
  position: relative;
}

footer p,
footer a {
  color: #fff;
}

.footer-navigation ul {
  text-align: center;
  padding-top: 20px;
}

.footer-navigation li {
  list-style: none;
  display: inline-block;
}

.footer-navigation a {
  padding: 10px 15px;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-info {
  float: left;
}

.contact-info p {
  line-height: 2.9rem;
}

.subscribe-form,
.contact-info {
  float: left;
  width: 50%;
}

.subscribe-form form {
  width: 100%;
  height: 50px;
}

.subscribe-form form input {
  border: none;
  width: 300px;
  height: 50px;
  float: left;
  display: block;
  font-size: 1.8rem;
}

.subscribe-form form input[type='email'] {
  padding-left: 5px;
}

.subscribe-form button {
  height: 50px;
  width: 150px;
  background-color: #f2a11c;
  font-size: 1.8rem;
  border: none;
  display: block;
  float: left;
  opacity: 0.7;
  transition: 0.3s;
}

button:hover,
button:focus,
button:active {
  opacity: 1;
}

p.copyright {
  text-align: center;
  background-color: #000000;
  color: #4a4a4a;
  margin: 0;
  display: block;
  height: 60px;
  padding-top: 10px;
}

.copyright {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* end of footer styles */

/* max height media querie for screens with less height */

@media (max-height: 600px) {
  header {
    height: auto;
  }
}

/* end of screen height media queries */

/* Screen size media queries start here */

/* max-height 1140px */

@media (max-width: 1140px) {
  h1 {
    width: 74%;
  }
}

@media (max-width: 1000px) {
  /* global styles */

  body {
    line-height: 22px;
  }

  /* header styles */
  h1 {
    width: 74%;
    margin-top: 194px;
  }

  /* about styles */
  .about-info,
  .mission-info {
    padding: 47px;
  }

  /* blog styles */
  .blog {
    height: 430px;
  }

  .blog-info {
    width: calc(65% - 10px);
  }

  .blog-image {
    width: 35%;
  }

  /* product styles */
  .product-navigation ul {
    padding: 120px 170px;
  }

  /* the gram styles */
  .the-gram {
    height: 525px;
  }

  /* footer styles */

  footer {
    height: 410px;
  }

  .subscribe-form button,
  .subscribe-form form input {
    width: 366px;
  }

  .subscribe-form button {
    margin-top: 5px;
  }
}

/* end of max-height 1140px */

/* max-width 860px */

@media (max-width: 860px) {
  /* header styles */

  h1 {
    width: 82%;
  }

  /* product styles */

  .product-navigation ul {
    padding: 120px 120px;
  }
}

/* end of max-width 860px */

/* max width 768px */

@media (max-width: 768px) {
  /* header styles */
  h1 {
    width: 85%;
    margin-top: 243px;
    font-size: 12rem;
  }

  header i.fa-bars {
    visibility: visible;
  }

  header i.fa-bars:focus,
  header i.fa-bars:hover {
    color: #f2a11c;
  }

  .header-navigation {
    visibility: hidden;
  }

  .socials-navigation {
    visibility: hidden;
  }

  /* about styles */

  .about-image,
  .about-info {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* mission styles */

  .mission-image,
  .mission-info {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* blog styles */

  .blog {
    height: 1100px;
  }

  .blog-info,
  .blog-image {
    float: left;
    width: 100%;
    height: auto;
  }

  .blog-image {
    margin: 0 auto;
  }

  .blog-info {
    margin-left: 0;
    padding: 0;
    text-align: center;
  }

  /* product styles */

  .product-navigation ul {
    padding: 175px 100px;
  }

  .product-navigation a {
    font-size: 5rem;
  }

  .product-span {
    font-size: 1.5rem;
  }

  /* the gram styles */

  .the-gram {
    height: 420px;
  }

  /* footer styles */

  .subscribe-form button,
  .subscribe-form form input {
    width: 300px;
  }

  nav.footer-navigation {
    padding: 10px 0;
  }

  nav.footer-navigation a {
    font-size: 1.6rem;
  }

  .subscribe-form button,
  .subscribe-form form input {
    height: 40px;
  }
}

/* end of max width 768px */

/* max-width 625px */

@media (max-width: 625px) {
  /* gram styles */

  .the-gram {
    height: 450px;
  }

  .gram-gallery li:nth-of-type(3) {
    display: none;
  }

  .the-gram li {
    width: calc(100% / 2);
  }

  /* footer styles */

  footer {
    height: 545px;
  }

  .subscribe-form,
  .contact-info {
    float: none;
    width: 100%;
    text-align: center;
  }

  .subscribe-form form {
    margin: 0 auto;
    width: 290px;
  }

  .subscribe-form form input[type='email'] {
    padding-left: ;
    text-align: center;
  }
}

/* end of max width 625px */

/* max width 560px */

@media (max-width: 560px) {
  /* header styles */

  h1 {
    width: 92%;
    font-size: 8rem;
  }

  /* blog styles */

  .blog {
    height: 973px;
  }

  /* product styles */

  .product {
    background-position: right;
  }

  .product-navigation ul {
    padding: 80px 0;
  }

  .product-navigation li {
    float: none;
  }
}

/* end of max width 560px */

/* max width 415px */

@media (max-width: 415px) {
  /* header styles */

  h1 {
    font-size: 7rem;
  }

  /* gram styles */

  .the-gram {
    height: 370px;
  }

  /* product styles */

  .product-navigation li {
    padding: 20px 0px;
    width: 100%;
  }

  /* footer styles */

  footer {
    height: 600px;
  }
}

/* end of max width 415px */

/* max width 377px */

@media (max-width: 377px) {
  nav.footer-navigation a {
    font-size: 1.4rem;
  }
}

/* end of max width 377px */

/* end of media queries */
